/* CSS variables (colors, spacing) */
:root {
  /* Colors */
  --color-primary: #000;
  --color-secondary: #fff;
  
  /* Brand Colors */
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  
  /* Rose Color Scale */
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
  
  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  
  /* Add more variables as needed */
}

